<app-header></app-header>
<app-chat></app-chat>
<div class="container">
    <div class="banner slide1">
        <div class="titulo" id="tituloCin">West City</div>
        <div class="leyenda" id="leyendaCin">Best west movies at westcity.com</div>
    </div>
    <div class="banner slide2" id="slide2">
        <div class="recomendacion">
            <div class="contenedor" id="containerSlide2">
                <div class="subtitulo"> Recomendación de la semana </div>
                <div class="titulo2"> never grow old</div>
                <div class="bottitulo">Sinopsis</div>
                <div class="parrafo">1849, pueblo de Garlow, ruta de California. Patrick, un cariñoso y pacífico padre de familia del Salvaje Oeste, intenta sobrevivir a un negocio en crisis hasta que unos forajidos </div>
                <div class="botones">
                    <div class="btn"> <a routerLink="/boleteria-compras"> Ticket </a> </div>
                    <div class="btn"> <a routerLink="/boleteria"> Watch </a> </div>
                </div>
            </div>
        </div>
        <div class="imagen">
            <div class="img"></div>
        </div>
    </div>
    <div class="banner slide3">
        <div class="confiteria">
            <div class="titulo3"> Que el hambre no te mate </div>
            <div class="comidalogo"> WEST FOOD </div>
            <div class="lista">
                <div class="domicilio"> Pide tu domicilio aca </div>
                <div> + Carne seca</div>
                <div> + Frutas desidratadas</div>
                <div> + Zarzaparrilla </div>
                <div> + Vino de cactus </div>
                <div> + Son of stew </div>
                <div> Y muchos platos mas</div>
            </div>
            <div class="btn btnSlide3" routerLink="/confiteria"> <a href=""> Ordenar </a></div>
        </div>
    </div>
</div>
<app-footer></app-footer>