<div class="contenedor">
  <div class="titulo">Panel de usuarios</div>
  <div class="form-group">
    <!-- <input type="text" name="filterUsuarios" class="form-control" placeholder="Buscar por nombre..." [(ngModel)]="filterUsuarios"> -->
  </div>
  <div class="tableFixHead">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Avatar</th>
          <th scope="col">Estado</th>
          <th scope="col">Rol</th>
          <th scope="col">Membresia</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let usuario of usuarios | filter:filterUsuarios">  esta linea es para cuando recibamos los Usuarios-->
        <tr *ngFor="let usuario of usuarios">
          <th>{{ usuario.nombre }}</th>
          <th>{{ usuario.apellido }}</th>
          <td class="icon">
            <i class="far fa-star"></i>
            <span
              ><img
                src="{{
                  'http://localhost:3000/api/obtener-img/' + usuario.imagen
                }}"
                alt=""
                width="230px"
            /></span>
          </td>
          <td>{{ usuario.estado }}</td>
          <td>{{ usuario.rol }}</td>
          <td>{{ usuario.suscripcion }}</td>
          <td class="btns">
            <button type="button" class="btn btn-secondary">
              <i class="fas fa-microphone-slash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
