.btn-circle {
    width: 20px;
    height: 20px;
    padding: 6px;
    border-radius: 50%;
    font-size: 10px;
}
.durango{
    font-family: durango !important;
}
.oswald{
    font-family: oswald !important;
}
.scroll{
    overflow: hidden;
    scroll-behavior: auto;
}
.fixed{
   position: sticky;
}