<div class="contenedor">
    <h1 class="durango titulo">escoge tu lado de la ley</h1>
    <div class="noche">
        <div class="box pistolero">
            <div class="box-title">
                <img src="../../../assets/images/fondos/suscripcion logo.png" alt="">
                <h2 class="durango">pistolero</h2>
            </div>
            <div class="box-content">
                <p>Beneficio uno</p>
                <p>Beneficio dos</p>
                <p>Beneficio tres</p>
                <p>Beneficio cuatro</p>
                <button class="durango boton">Activar Membresia</button>
            </div>
        </div>
    </div>
    <div class="dia">
        <div class="box sheriff">
            <div class="box-title">
                <img src="../../../assets/images/fondos/suscripcion logo1.png" alt="">
                <h2 class="durango">sheriff</h2>
            </div>
            <div class="box-content">
                <p>Beneficio uno</p>
                <p>Beneficio dos</p>
                <p>Beneficio tres</p>
                <p>Beneficio cuatro</p>
                <button class="durango boton">Activar Membresia</button>
            </div>
        </div>
    </div>
</div>