<app-header></app-header>
<div class="contenedor">
  <h1 class="durango titulo">escoge tu lado de la ley</h1>
  <div class="noche">
    <div class="box pistolero">
      <div class="box-title">
        <img src="../../../assets/images/fondos/suscripcion logo.png" alt="" />
        <h2 class="durango">pistolero</h2>
      </div>
      <div class="box-content">
        <p>Renovación semestral por $20000</p>
        <p>Beneficio dos</p>
        <p>Beneficio tres</p>
        <p>Beneficio cuatro</p>
        <button class="boton" (click)="togglePistolero()">
          Activar
        </button>
      </div>
    </div>
  </div>
  <div class="dia">
    <div class="box sheriff">
      <div class="box-title">
        <img src="../../../assets/images/fondos/suscripcion logo1.png" alt="" />
        <h2 class="durango">sheriff</h2>
      </div>
      <div class="box-content">
        <p>Renovación semestral por $50000</p>
        <p>Shot de vino de cactus después de cada función</p>
        <p>Descuento del 50% en confitería</p>
        <p>Acceso al domicilio de la confitería</p>
        <p>Ver peliculas desde casa</p>
        <button class="boton" (click)="toggleSheriff()">
          Activar 
        </button>
      </div>
    </div>
  </div>
</div>
