<app-header></app-header>

<div class="contenedor">
    <div *ngIf="detallesPelicula; else listaPelis">
        <!-- <div *ngIf="estado; else fullscreen"> -->
            <button class="atras" (click)="listaPeliculas()"><img src="../../../assets/images/fondos/flecha.svg" alt=""></button>
            <div class="destacado visible">
                <div class="frame">
                    <iframe class="normal" src='{{peliculaInfo.enlacePelicula}}'></iframe>
                </div>
            </div>
            <div class="cajonPelis">
                <br>
                <div class="centrado">
                    <h1 class="titulo tituloDestacado">{{peliculaInfo.nombre}}</h1>
                    <p class="textoDestacado">{{peliculaInfo.sinopsis}}</p>
                    <ul class="textoDestacado">
                        <h4>Actores:</h4>
                        <li *ngFor="let actor of peliculaInfo.actores">{{actor}}</li>
                    </ul>
                    <p class="textoDestacado"><span>Director: </span>{{peliculaInfo.director}}</p>
                    <p class="textoDestacado"><span>Año: </span>{{peliculaInfo.anio}}</p>
                    <p class="textoDestacado"><span>categoria: </span>{{peliculaInfo.genero}}</p>
                </div>
                <h2 class="titulo pad-y cat-title">Recomendadas</h2>
                <div class="categoria">
                    <div class="tarjeta" *ngFor="let pelicula of peliculas; let i=index">
                   <div *ngIf="i<5">
                    <img src="{{ruta}}mostrar-poster/{{pelicula.rutaPoster}}" alt="">
                        <div class="contenido">
                            <h3>{{pelicula.nombre}}</h3>
                            <button class="boton titulo botonCaja" (click)="peliIndividual(pelicula)">Ver Ahora</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        <!-- </div> -->
    </div>
<!-- 
    <ng-template #fullscreen>
        <iframe class="fullscreen" src="https://www.youtube.com/embed/_iH0UBYDI4g?rel=0&autoplay=1&mute=1&enablejsapi=1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ng-template> -->

    <ng-template #listaPelis>
        <div class="destacado">
            <div class="frame">
                <iframe class="normal" src="https://www.youtube.com/embed/_iH0UBYDI4g?rel=0&autoplay=1&mute=1&enablejsapi=1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="gradient"></div>            
            </div>
            <div class="descripcion">
                <h1 class="titulo tituloDestacado">Django Unchained</h1>
                <button class="boton titulo botonDestacado">Ver Ahora</button>
                <p class="textoDestacado">Un exesclavo une fuerzas con un cazador de recompensas alemán que lo liberó y lo ayuda a buscar a los criminales más buscados del sur de los Estados Unidos, con la esperanza de reencontrarse con su esposa.</p>
            </div>
        </div>


        <div class="cajonPelis">
            <div class="buscador">
                <input type="text" name="filterPost" class="form-control" placeholder="Buscar.." [(ngModel)]="filterPost"> 
            </div>
            <h2 class="titulo pad-y cat-title">Clasicos</h2>
            <div class="categoria">


                <div class="tarjeta" *ngFor="let pelicula of peliculas | filter:filterPost">
                    <img src="{{ruta}}mostrar-poster/{{pelicula.rutaPoster}}" alt="">
                    <div class="contenido">
                        <h3>{{pelicula.nombre}}</h3>
                        <button class="boton titulo botonCaja" (click)="peliIndividual(pelicula)">Ver Ahora</button>
                    </div>
                </div>
            </div>

            <h2 class="titulo pad-y cat-title">Americanas</h2>
            <div class="categoria">
            </div>
        </div>
    </ng-template>
</div>