<app-header></app-header>

<div *ngIf="detallesPelicula; else listaPelis">
    <div>
        <iframe src="" frameborder="0"></iframe>
        <button></button>
        <h1>Peli individual</h1>
    </div>
    <div>
        <p><span></span></p>
        <ul>
            <li></li>
            <li></li>
        </ul>
        <p><span></span></p>
    </div>
    <div>
        <h2>Clasicos</h2>
        <div>
            <h3>Never Grow Old</h3>
            <img src="" alt="">
            <button>Ver Ahora</button>
        </div>
    </div>
</div>

<ng-template #listaPelis>
    <div>
        <iframe src="" frameborder="0"></iframe>
        <h1>Django Unchained</h1>
        <button>Ver Ahora</button>
        <p>Un exesclavo une fuerzas con un cazador de recompensas alemán que lo liberó y lo ayuda a buscar a los criminales más buscados del sur de los Estados Unidos, con la esperanza de reencontrarse con su esposa.</p>
    </div>
    <div>
        <div>
            <h2>Clasicos</h2>
            <div>
                <h3>Never Grow Old</h3>
                <img src="" alt="">
                <button>Ver Ahora</button>
            </div>
            <div>
                <h3></h3>
                <img src="" alt="">
                <button>Ver Ahora</button>
            </div>
            <div>
                <h3></h3>
                <img src="" alt="">
                <button>Ver Ahora</button>
            </div>
            <div>
                <h3></h3>
                <img src="" alt="">
                <button>Ver Ahora</button>
            </div>
            <div>
                <h3></h3>
                <img src="" alt="">
                <button>Ver Ahora</button>
            </div>
        </div>
        <div>
            <h2></h2>
            <div>
                <h3></h3>
                <img src="" alt="">
                <button>Ver Ahora</button>
            </div>
            <div>
                <h3></h3>
                <img src="" alt="">
                <button>Ver Ahora</button>
            </div>
            <div>
                <h3></h3>
                <img src="" alt="">
                <button>Ver Ahora</button>
            </div>
            <div>
                <h3></h3>
                <img src="" alt="">
                <button>Ver Ahora</button>
            </div>
            <div>
                <h3></h3>
                <img src="" alt="">
                <button>Ver Ahora</button>
            </div>
            <div>
                <h3></h3>
                <img src="" alt="">
                <button>Ver Ahora</button>
            </div>
            <div>
                <h3></h3>
                <img src="" alt="">
                <button>Ver Ahora</button>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</ng-template>