//pelicula destacada

.contenedor{
    position: relative;
    top: 9vh;
    font-family: oswald;
    color: white;
    text-shadow: 5px 5px 5px black;
    background-color: rgba(141,0,12,1);
}
.atras{
    background: none;
    position: absolute;
    top: 2%;
    left: 2%;
    width: 50px;
    border: none;
    cursor: pointer;
}
.atras img{
    width: 100%;
}
.destacado{
    position: relative;
    max-height: 91vh;
    overflow: hidden;
}
.frame{
    position: relative;
    width: 100% ;
    height: 0;
    padding-bottom: 56.25%;
}
.visible{
    max-height: 110vh;
}
.normal{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: -10%;
    border: none;
}
.descripcion{
    position: absolute;
    bottom: 5%;
}
.boton{
    background: none;
    border: 3px solid white;
    cursor: pointer;
    color: white;
}
.titulo{
    font-family: durango;
    color: #e7e65a;
}
.textoDestacado{
    font-size: x-large;
    margin: 2% 5%;
}
.pad-y{
    padding-top: 2%;
    padding-bottom: 2%;
}
.tituloDestacado{
    color: white;
    font-size: 4vw;
    padding: 0 5%;
}
.botonDestacado{
color: white;
font-size: large;
border-radius: 50px;
padding: 0 5%;
margin: 1% 5%;
}
.boton:hover{
    background-color: rgba(255, 255, 255, 0.288);
}
.gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgba(141,0,12,0) 30%, rgba(0,0,0,1) 100%);
}
.big{
    left: 50%;
    transform: translateX(-50%);
    min-width: 29%;
    text-shadow: 5px 5px 5px black;
}
.centrado{
    text-align: center;
}

//vista de peliculas sugeridas

.cajonPelis{
    background: linear-gradient(180deg, /* rgba(141,0,12,0) 0%, */ rgba(141,0,12,1) 0%, rgba(0,0,0,1) 100%);
}
.buscador input{
    float: right;
    border-radius: 50px;
    padding: 10px;
    border: 3px solid #e7e65a;
    margin: 10px;
    background: none;
    color: white;
    font-weight: bold;
}
.categoria{
    display: flex;
    flex-wrap: wrap;
    max-width: 91.2%;
    margin: auto;
}
.tarjeta{
    position: relative;
    width: 18vw;
    height: calc(18vw*1.5);
    overflow: hidden;
    object-position: center;
    object-fit: cover;
    padding-bottom: 1%;
}
.tarjeta img{
    height: 100%;
}
.contenido{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.705);
    opacity: 0;
}
.contenido:hover{
    opacity: 1;
}
.contenido h3{
    text-align: center;
    padding: 5%;
    font-size: x-large;
}
.botonCaja{
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: rgba(141,0,12,1);
}
.cat-title{
    font-size: 3vw;
    padding: 5% 5% 2% 5%;
}

/* .fullscreen{
    z-index: 999999;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
} */
@media(max-width: 1262px){
    .normal{
        top: 0;
    }
    .contenido h3{
        font-size: large;
    }
}
@media(max-width: 800px){
    .cat-title{
        font-size: 5vw;
    }
    .tarjeta{
        width: 30vw;
        height: calc(30vw*1.5);
    }
    .textoDestacado{
        font-size: large
    }
    .botonDestacado{
        font-size: small;
        }
}
@media(max-width: 600px){
    .descripcion{
        position: relative;
    }
    .tituloDestacado{
        font-size: 5vw;
    }
    .botonDestacado{
        font-size: small;
    }
    .botonDestacado{
        font-size: x-small;
    }
    .textoDestacado{
        font-size: 4vw;
    }
    .contenido button{
        font-size: x-small;
    }
    .buscador input{
        float: none;
        margin-top: 30px;
        width: 86%;
    }
}