<div class="contenedor">
    <div class="titulo"> Panel de Peliculas </div>
    <div class="form-group">
        <input type="text" name="filterArtista" class="form-control" placeholder="Buscar por nombre..." [(ngModel)]="filterArtista">
    </div>
    <table class="table mt-4">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Sinopsis</th>
                <th scope="col">Categoria</th>
                <th scope="col">LinkPelicula</th>
                <th scope="col">Estado</th>
                <th scope="col">Poster</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th> Django </th>
                <td class="icon"> <i class="far fa-star"></i> <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque qui praesentium dolorem, vero dicta fugit laborum amet vitae error voluptates veniam maxime vel quo tenetur. Facilis ipsam expedita nihil, neque maiores alias magnam reiciendis obcaecati soluta pariatur placeat consectetur accusantium, vero cumque architecto veniam quis qui! Voluptatibus doloribus magnam enim?</span> </td>
                <td> Accion</td>
                <td class="icon"> <i class="far fa-star"></i> <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, quidem?</span> </td>
                <td> Activo</td>
                <td class="icon"><i class="far fa-star"></i> <span><img src="../../../assets/images/fondos/Django_Unchained_movie_poster-1491435.jpg!d.jpg" alt="" width="230px"></span> </td>
                <td> botones</td>
              </tr>
            </tbody>
    </table>
    <form>
        
           
    </form>        

</div>