.reg-container{
    background-image: url('../../../assets/images/fondos/Django_Unchained_movie_poster-1491435.jpg!d.jpg');
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #352b1d;
}
.form-container{
    background-color: #e6c897;
    width: 30vw;
    margin: auto;
    padding: 2%;
    box-shadow: 5px 5px 5px 5px black;
}
.formulario{
    padding: 4%;
    box-sizing: border-box;
    border: solid 3px #352b1d;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.formulario legend{
    padding: 0 3%;
    font-family: durango;
    font-size: 5vh;
    min-width: 70%;
}
.formulario label{
    font-family: oswald;
    padding: 4%;
    display: block;
    font-size: large;
    font-weight: bolder;
    min-width: 80%;

}
.formulario input{
    background: none;
    border: none;
    border-bottom: 2px solid #352b1d;
    width: 80%;
    margin-bottom: 3%;
}
#submit{
    border: #352b1d 2px solid;
    padding: 2%;
    font-family: oswald;
    margin-top: 10%;
    font-size: large;
    font-weight: bolder;
    color: #352b1d;
}
.link{
    color: #352b1d;
    text-decoration: none;
    font-family: oswald;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and(max-width:946px){
    .form-container{
        width: 60vw;
    }
}
@media screen and(max-width:478px){
    .form-container{
        width: 90vw;
    }
}