<app-header></app-header>
<div class="container">
    <div class="left">
        <div class="miniconatiner">
            <div class="leyenda"> una nueva pelicula esta esperando a ser descubierta</div>
            <div class="leyenda"> Haz tu reserva aquí </div>
            <div class="btn" routerLink="/boleteria-compras"> reservar </div>
            <div class="leyenda red"> Descuentos de membersia </div>
            <div class="membresias">               
                <div>
                    <div class="pistolero"></div>
                    <div class="leyenda">25 %</div>
                </div>
                <div>
                    <div class="sheriff"></div>
                    <div class="leyenda"> 50% </div>
                </div>
             </div>
        </div>
    </div>
    <div class="right">
        <div class="slider">
            <ul>
                <li><div class="sliderImg slider1"></div></li>
                <li><div class="sliderImg slider2"></div></li>
                <li><div class="sliderImg slider3"></div></li>
                <li><div class="sliderImg slider4"></div></li>
                <li><div class="sliderImg slider5"></div></li>
                <li><div class="sliderImg slider6"></div></li>                
            </ul>


        </div>
        <div class="membership hide">    
            <div class="btn hide" routerLink="/boleteria-compras"> Ordenar </div>
        </div>
    </div>
</div>

