<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{titulo}}</h1>

    <ul>
        <li>Nombre: {{usuario.nombre}}</li>
        <li>Apellido: {{usuario.apellido}}</li>
        <li>Contraseña: {{usuario.contrasena}}</li>
    </ul>
</body>
</html>