<div class="recomendaciones">
    <div class="leyenda"> El covid-19 no es una pelicula </div>
    <div class="leyenda"> recuerde seguir los protoclos de control </div>
    <div class="leyenda"> mas info <span> Aqui </span> </div>
</div>
<div class="general">
    <div class="container">
        <div class="top">
            <div class="item">
                <div class="titulo"> Contacto </div>
                <div class="lista">
                    <div> Tel : 320-252-0000 </div>
                    <div> Site : Hunter.co </div>
                    <div> Email: hunter@gmail.com </div>
                </div>
            </div>
            <div class="item">
                <div class="titulo"> Cinemas </div>
                <div class="lista">
                    <div> CC Hayuelos </div>
                    <div> CC Santa fe </div>
                    <div> CC La casona </div>
                    <div> Av Chile 25-75 </div>
                </div>
            </div>
            <div class="item">
                <div class="titulo"> F.A.Q</div>
                <div class="lista">
                    <div> Que es premium ? </div>
                    <div> Mi pelicula no esta </div>
                    <div> Reportar un bug </div>
                </div>
            </div>
        </div>
        <div class="bot">
            Copyright © 2010 by Hunter asoc, All rights reserved. This book or any portion thereof, may not be reproduced or used in any manner whatsoever without the express written permission of the publisher
        </div>
    </div>
</div>
