<app-header></app-header>
<div class="reg-container">
    <div class="form-container">     
        <form class="formulario" #formularioRegistro="ngForm" (ngSubmit)=registrarUsuario()>
            <legend>Registro</legend>
            <label for="">Nombre</label>
            <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]=usuarioRegistro.nombre>
            <label for="">Apellido</label>
            <input type="text" name="apellido" #apellido="ngModel" [(ngModel)]=usuarioRegistro.apellido>
            <br>
            <!-- <select name="" id="">
                <option value="">CC</option>
                <option value="">TI</option>
                <option value="">CE</option>
            </select> -->
            <label for="">documento</label>
            <input type="number" name="documento" #documento="ngModel" [(ngModel)]=usuarioRegistro.documento>
            <label for="">Correo</label>
            <input type="email" name="correo" #correo="ngModel" [(ngModel)]=usuarioRegistro.correo>
            <label for="">Contraseña</label>
            <input type="password" name="contrasena" #contrasena="ngModel" [(ngModel)]=usuarioRegistro.contrasena>
            <label for="">Suscripcion</label>
            <select name="suscripcion" id="" #suscripcion="ngModel" [(ngModel)]=usuarioRegistro.suscripcion>
                <option value="pistolero"> Pistolero </option>
                <option value="sheriff"> Sheriff </option>
            </select>
            <input type="submit" value="Registrarse" id="submit">
        </form>
    </div>
</div>
