<app-header></app-header>
<div class="container">
    <div class="opciones">
        <div class="foto">
            <div class="img">
                <div class="fotoperfil"></div>
            </div>
            <div class="name"> David </div>
        </div>
        <div class="block one"> <a class="btnedit"> Editar Perfil </a> </div>
        <div class="block"> <a class="btnpass"> Cambiar Contrasena </a> </div>
        <div class="block"> <a> Membresia </a> </div> <!-- link to membership -->
    </div>
    <div class="formularios">
        <div class="minicontainer">
            <div class="border">                
                <form action="" class="edit">
                    <div class="left">
                        <div class="title"> EDITAR PERFIL </div>
                        <label> Nombre </label>
                        <blockquote><input type="text"></blockquote>
                        <label> Apellido </label>
                        <blockquote><input type="text"></blockquote>
                        <label> Documento </label>
                        <blockquote><input type="test"></blockquote>
                    </div>
                    <div class="right">
                        <label> Correo </label>
                        <blockquote><input type="text"></blockquote>
                        <label> Edad </label>
                        <blockquote><input type="text"></blockquote>
                        <label> Avatar </label>
                        <blockquote><input type="file"></blockquote>
                        <input type="submit" value="Aceptar" class="submit">
                    </div>
                </form>
                <form class="pass show">
                    <label> Edad </label>
                    <blockquote><input type="text"></blockquote>
                    <label> Avatar </label>
                    <blockquote><input type="file"></blockquote>
                    <input type="submit" value="Aceptar" class="submit"> 
                
                </form>  
            </div>
        </div>
    </div>
</div>