<app-header></app-header>
<div class="container">
    <div class="opciones">
        <div class="foto">
            <div class="img">
                <div *ngIf="usuarioLogeado.imagen===null" class="fotoperfil"></div>
                <div *ngIf="usuarioLogeado.imagen!=null"  class="fotoperfil" [style.background-image]="'url('+ruta+'obtener-img/'+usuarioLogeado.imagen+')'"></div>
                
            </div>
            <div class="name" id="usuario"> {{usuarioLogeado.nombre}} </div>
        </div>
        <div class="block one"> <a class="btnedit" (click)="showEditar()"> Editar Perfil </a> </div>
        <div class="block"> <a class="btnpass" (click)="showContrasena()"> Cambiar Contrasena </a> </div>
        <div class="block"> <a routerLink="/membresia"> Membresia </a> </div>
        <div class="block"> <a (click)="cerrarSesion()"> Cerrar sesion </a> </div>
    </div>
    <div class="formularios">
        <div class="minicontainer">
            <div class="border">
                <form action="" class="edit" *ngIf="mostrarEditar" #formularioActualizarUsuario="ngForm" (ngSubmit)="updateUsuario()">
                    <div class="left">
                        <div class="title"> EDITAR PERFIL </div>
                        <label> Nombre </label>
                        <blockquote><input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="usuarioLogeado.nombre"></blockquote>
                        <label> Apellido </label>
                        <blockquote><input type="text" name="apellido" #apellido="ngModel" [(ngModel)]="usuarioLogeado.apellido"></blockquote>
                        <label> Documento </label>
                        <blockquote><input type="test" name="documento" #documento="ngModel" [(ngModel)]="usuarioLogeado.documento"></blockquote>
                    </div>
                    <div class="right">
                        <label> Correo </label>
                        <blockquote><input type="text" name="correo" #correo="ngModel" [(ngModel)]="usuarioLogeado.correo"></blockquote>
                        <label> Tarjeta </label>
                        <blockquote><input type="text" name="tarjeta" #tarjeta="ngModel" [(ngModel)]="usuarioLogeado.tarjeta"></blockquote>
                        <label> Avatar </label>
                        <blockquote><input type="file" name="imagen"></blockquote>
                        <input type="submit" value="Aceptar" class="submit">
                    </div>
                </form>
                <form class="pass" *ngIf="!mostrarEditar" #formularioActualizarContrasena="ngForm" (ngSubmit)="updatePwd()">
                    <div class="title"> Actualizar password </div>
                    <label > Antigua contrasena </label>
                    <blockquote><input type="password" name="oldPwd" #oldPwd="ngModel" [(ngModel)]="pwds.oldPwd" /></blockquote>
                    <label> Contrasena nueva  </label>
                    <blockquote><input type="password" name="newPwd" #newPwd="ngModel" [(ngModel)]="pwds.newPwd" /></blockquote>
                    <input type="submit" value="Aceptar" class="submit">
                </form>
            </div>
        </div>
    </div>
</div>
