<nav>
    <div class="logo">
        <div class="items">
            <div class="titulo" routerLink="/"> West City</div>
            <div class="leyenda">Best west movies at westcity.com</div>
        </div>
    </div>
    <ul class="navlinks">
        <li> <a href=""> Cartelera </a> </li>
        <li> <a routerLink="/peliculas"> Peliculas </a> </li>
        <li> <a routerLink="/confiteria"> Confiteria </a> </li>
        <li> <a routerLink="/boleteria"> Boleteria </a> </li>
        <li> <a routerLink="/membresia"> Membresia </a> </li>
        <!-- <li class="fakelink perfil"> <a routerLink="/login" class="nombre2 especial"> Login </a> </li>
        <li class="fakelink "> <a routerLink="/perfil" class="login2">  </a> </li> -->
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>
<div class="session figura">
    <ul class="sessionlinks"> 
        <li> <a routerLink="/perfil" class="perfil nombre2" > </a> </li> 
        <li> <a routerLink="/login" class="login2"> Login </a> </li> 
    </ul>
</div>