<div class="contenedor">
    <div class="titulo"> DASHBOARD </div>
    <div class="totales">
        <div class="total red">
            <div class="icon"><i class="far fa-calendar-check"></i></div>
            <div class="textos">
                <div class="texto"> Tareas nuevas </div>
                <div class="numero"> 109 </div>
            </div>
        </div>
        <div class="total blue">
            <div class="icon"><i class="far fa-calendar-check"></i></div>
            <div class="textos">
                <div class="texto"> Boleteria ventas </div>
                <div class="numero"> 5250 </div>
            </div>
        </div>
        <div class="total green">
            <div class="icon"><i class="far fa-calendar-check"></i></div>
            <div class="textos">
                <div class="texto"> Confiteria ventas</div>
                <div class="numero"> 11250 </div>
            </div>
        </div>
        <div class="total orange">
            <div class="icon"><i class="far fa-calendar-check"></i></div>
            <div class="textos">
                <div class="texto"> Usuarios Suscritos </div>
                <div class="numero"> 4260 </div>
            </div>
        </div>
    </div>
    <div class="grafica1">
        <div class="textoGrafica"> Ventas en millones ultimos 10 dias </div>
    </div>
    <div class="divisores">
        <div class="divisor rouch">
            <div class="tittle"> Usuarios</div>
            <div class="tabla">
                <div class="left">
                    <div>Hoy</div>
                    <div>Ayer</div>
                    <div>Prom ultima semana</div>
                    <div>Prom ultima mes</div>
                    <div>Dia con mas usuarios</div>
                </div>
                <div class="right">
                    <div>520</div>
                    <div>410</div>
                    <div>610</div>
                    <div>312</div>
                    <div>Domingo</div>
                </div>
            </div>
        </div>
        <div class="divisor bleu">
            <div class="tittle"> Tendencias Peliculas</div>
            <div class="tabla">
                <div class="left">
                    <div>Pelicula</div>
                    <div>Django</div>
                    <div>Never grow old</div>
                    <div>Wild Wild West</div>
                    <div>Rango</div>
                    <div>Bone Tomahauk</div>
                </div>
                <div class="right">
                    <div>Vistas</div>
                    <div>12046</div>
                    <div>10569</div>
                    <div>10420</div>
                    <div>9700</div>
                    <div>5200</div>
                </div>
            </div>
        </div>
        <div class="divisor vert">
            <div class="tittle"> Boleteria ultimo mes</div>
            <div class="tabla">
                <div class="left">
                    <div>Hayuelos</div>
                    <div>Santa Fe</div>
                    <div>La Casona</div>
                    <div>Av Chile 205-75</div>
                    
                </div>
                <div class="right">
                    <div>2010</div>
                    <div>4200</div>
                    <div>780</div>
                    <div>7500</div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
